
/* perchè non si collega?? */
#searchFilterCol{
    border-radius: 50%!important;
}

#searchFilterBtn{
    border-radius: 50%;
    border: none;
    height: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
